html {
	min-height: 100%;
	min-width: 100%;
}

body {
	background: linear-gradient(to top, #c8145f 55%, #b0e0e6) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
}

h1 {
	font-family: Lobster;
	font-size: 5.2vw;
	background: linear-gradient(to right, orange, yellow, green, cyan, blue, violet);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.1px black;
	position: absolute;
	margin-left: 16vw;
	z-index: 2;
}

h1:hover {
	font-size: 5.4vw;
	margin-left: 15.4vw;
}

#container {
	background: linear-gradient(-45deg, #ee82ee, #32cd32, #ffffff, #87cefa, #a0522d);
	width: 27%;
	border: 5px solid;
	border-color: #37eba0;
	border-radius: 12px;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	margin-left: 50%;
	margin-top: 20%;
	position: absolute;
}

.inner-container {
	background-color: rgba(255, 255, 255, 0);
	width: 95%;
	left: 2.5%;
	margin-bottom: 3%;
	height: 45px;
	position: relative;
}

input[type=range] {
	height: 15px;
	-webkit-appearance: none;
	width: 90%;
	left: 5%;
	top: 33.33%;
	position: absolute;
	z-index: 2;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.3);
}

input[type=range]:hover {
	background-color: rgba(255, 255, 255, 0);
}

input[type=range]:focus  {
	background-color: rgba(255, 255, 255, 0) !important;
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	height: 15px;
	border-radius: 5px;
	border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
	height: 30px;
	width: 6%;
	border: 1.5px solid #00008b;
	-webkit-appearance: none;
	margin-top: -9px;
	background: #00ffff;
	border-radius: 15px 50px;
}

input[type=range]:hover::-webkit-slider-thumb{
	background: #7fff00;
}

.index {
	height: 15px;
	width: 90%;
	left: 5.5%;
	top: 38%;
	position: absolute;
	border-radius: 5px;
}

#red-color {
	background: linear-gradient(to right, red 76.7%, white 76.7% 100%);
}

#green-color {
	background: linear-gradient(to right, green 10.3%, white 10.3% 100%);
}

#blue-color {
	background: linear-gradient(to right, blue 38.0%, white 38.0% 100%);
}

table {
	height: 30%;
	width: 80%;
	margin-left: 6%;
	margin-top: 5%;
	font-size: 1.7vw;
	font-family: Lobster;
}

th {
	padding-left: 8%;
	text-align: left;
	width: 45%;
}

td {
	background-color: rgba(22, 20, 95, 0.3);
	text-align: center;
	border-radius: 100px;
	
}

td, th {
	padding-top: 3%;
	padding-bottom: 3%;
}

#empty {
	height: 10px;
}

.circle {
	position: absolute;
	border-radius: 50%;
	background: white;
	animation : ripple 15s infinite;
	box-shadow: 0px 0px 1px 0px #c8145f;
}

.small {
	width: 200px;
	height: 200px;
	left: -100px;
	top: -100px;
	opacity: 0.9;
}

.medium {
	width: 400px;
	height: 400px;
	left: -200px;
	top: -200px;
	opacity: 0.8;
}

.large {
	width: 600px;
	height: 600px;
	left: -300px;
	top: -300px;
	opacity: 0.7;
}

.xlarge {
	width: 800px;
	height: 800px;
	left: -400px;
	top: -400px;
	opacity: 0.5;
}

.xxlarge {
	width: 1000px;
	height: 1000px;
	left: -500px;
	top: -500px;
	opacity: 0.2;
}

@keyframes ripple {
	0% {
		transform: scale(0.8);
	}
	
	50% {
		transform: scale(1.2);
	}
	
	100% {
		transform: scale(0.8);
	}
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
	
	body {
		background: linear-gradient(to top, #c8145f 80%, #b0e0e6) no-repeat;
	}
	
	#container {
		width: 45%;
		margin-left: 1%;
		margin-top: 15%;
	}
	
	html {
		min-height: 300%;
		min-width: 200%;
		position: fixed;
	}
	
	table {
		font-size: 5.5vw;
		margin-left: 2%;
	}
	
	h1{
		font-size: 6.5vw;
		margin-left: 6vw;
	}
	
	h1:hover {
		font-size: 6.7vw;
		margin-left: 5vw;
	}
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
	body{
		background: linear-gradient(to top, #c8145f 50%, #b0e0e6) no-repeat;
	}
	
	#container {
		width: 50%;
		margin-left: 40%;
		margin-top: 20%;
		margin-right: 10%;
	}
	
	html {
		min-height: 210%;
	}
	
	table {
		font-size: 2.5vw;
		margin-left: 2%;
	}
	
	h1:hover {
		font-size: 6.7vw;
		margin-left: 5vw;
	}
}